/* custom css */

/* Ensure labels align vertically with radio buttons */
#content-left label {
    /* Prevents excessive spacing for radio button group options */
    line-height: normal;
}


/* Make each content container scrollable on its own */
#content-left {
    overflow-y: scroll;
    width: 30%;
    /* this overrides the visible width as in CTAT GUI editor */
}

#content-right {
    overflow-y: scroll;
    width: 70%;
}

html,
body {
    height: 100%;
    /* Ensure the body takes up the full viewport height */
    margin: 0;
    /* Remove default margin */
}

body>div {
    display: flex;
    /* Use flexbox for layout */
    flex-direction: column;
    /* Stack child elements vertically */
    height: 100%;
    /* Ensure the div takes up the full height of the viewport */
}

#top-half {
    height: 30%;
}

#bottom-half {
    height: 70%;
}


#traffic-chart {
    height: 400px; /* Fix the height of the graphs */
    min-height: 400px; /* Ensure the height is not reduced */
}

#utilization-chart {
    height: 400px; /* Fix the height of the graphs */
    min-height: 400px; /* Ensure the height is not reduced */
}

.step-navigation {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right */
    display: none; /* Hide by default */
}

#ifdfig {
    display: flex; /* Yet, the step navigation in the Introduction page should always be visible */
}

.step-navigation button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    height: auto;
    justify-content: center;
    display: flex; /*  The display: inline-block property prevents justify-content from having an effect. Try adding display: grid or display: flex to make this element into a container. */
}

.step-navigation button:hover {
    background-color: #0056b3;
}

#reflection-note textarea {
    min-height: 120px;  /* Adjust initial height */
    height: auto;  /* Allow dynamic height */
    resize: vertical;  /* Allow manual resizing */
    overflow-y: auto;  /* Enable vertical scrolling */
    font-size: 14px;  /* Maintain readability */
    padding: 5px;  /* Improve text spacing */
    width: 100%;  /* Ensure it fills container */
}

.CTATRadioButton {
    margin-top: 10px;
    margin-bottom: 10px;
}

